<div class="content_post" style="background-image: url(<%= article.image %>);">
</div>
<div class="text">
  <%= article.text %>
</div>
<table class="centered">
  <thead>
    <tr>
        <th>Frame</th>
        <th>Wheel</th>
        <th>FD</th>
        <th>RD</th>
        <th>Crank_Set</th>
        <th>Brake</th>
        <th>Handle</th>
        <th>Stem</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= article.Frame %></td>
      <td><%= article.Wheel %></td>
      <td><%= article.FD %></td>
      <td><%= article.RD %></td>
      <td><%= article.Crank_Set %></td>
      <td><%= article.Brake %></td>
      <td><%= article.Handle %></td>
      <td><%= article.Stem %></td>
    </tr>
  </tbody>
</table>

  <% if user_signed_in? && current_user.id == article.user_id %>
    <div class="more">
      <span><%= image_tag '' %></span>
      <ul class="more_list">
        <li>
          <%= link_to '編集', "/articles/#{article.id}/edit", method: :get %>
        </li>
        <li>
          <%= link_to '削除', "/articles/#{article.id}", method: :delete %>
        </li>
        <% end %>
      </ul>

  <span class="name">
    <a href="">
      <span>投稿者</span><%= article.user.nickname %>
    </a>
  </span>
</div>
